{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Twitter Shield</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">

<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <!--<img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Michigan_Wolverines_logo.svg" alt="Michigan Logo" style="width:45px;height:45px;">-->
      <a class="navbar-brand" href="" id="navbar-name"> Twitter Shield</a>
    </div>
    <div class="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item">
            <a class="nav-link" href="">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div class="jumbotron" style="background: transparent; text-align: center; margin: auto;" >
  <!--<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Michigan_Wolverines_Logo.svg" 
  style="position: absolute; left: 300px;"></img>-->
    <h1 class="display-4">Twitter Shield</h1>
    <p class="lead">Chrome extension for fighting aginst online harassment</p>
    <hr class="my-4" style="width:83%;">
    <p style="box-sizing: border-box; width: 800px; margin-left: auto; margin-right: auto;">
        <br> created by the <a href="http://eegilbert.org/">comp.social lab</a> within the
        <a href="https://www.si.umich.edu/">University of Michigan School of Information</a>.
    </p>
  </div>





</body>
</html>

